# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.gzip
*.br
/src/
/.ipCc/
.DbCache
/data/
/tmp/
logs/logs.log
.DbCache/*.*
.DbCache/*
.DbCache/LOCK
config/*_db.*
node_modules
yarn.lock
DbCache
/db/
.DS_Store
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
/.DbCache/
